html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  font-family: 'Rubik', sans-serif;
  background-color: #f2f2f2;
  background-image: url("fondo.jpg");
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overscroll-behavior-x: none;
  flex-direction: column;
}

main{
  flex: 1;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;

}

header > *{
  width: 100%;
}



.container-header {
  height: 140px;
  z-index: 1;
  display: flex;
  background-color: #112569;
  opacity: 1;
  background-image: linear-gradient(30deg, #112569 12%, transparent 12.5%, transparent 87%, #112569 87.5%, #112569), linear-gradient(150deg, #112569 12%, transparent 12.5%, transparent 87%, #112569 87.5%, #112569), linear-gradient(30deg, #112569 12%, transparent 12.5%, transparent 87%, #112569 87.5%, #112569), linear-gradient(150deg, #112569 12%, transparent 12.5%, transparent 87%, #112569 87.5%, #112569), linear-gradient(60deg, #11256977 25%, transparent 25.5%, transparent 75%, #11256977 75%, #11256977), linear-gradient(60deg, #11256977 25%, transparent 25.5%, transparent 75%, #11256977 75%, #11256977);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  color: rgb(255, 255, 255);
  padding: 0;
  
}

.container-title {
  flex-grow: 1;
  flex-basis: 50%;
  justify-content: start;
}



.container-izquierda {
 flex-grow: 1;
  display: flex;
  justify-content: center ;
  flex-basis: 50%;
}

#logo{
  width: 300px;
  height: 135px;
  
}




/*.logo{
  position: absolute;
  top: -30px;
  left: -40px;
  width: 180px;
  height: 125px;
}*/

.container-title {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  padding-top: 10px;
  width: 60%
}


.container-nav {
  width: 100%;
  z-index: 10000000;
  display: flex;
  justify-content: center;
  opacity: 1;
  color: white;
  padding: 100px;
  font-size: 20px;
}

nav ul {

  list-style: none;
  display: flex;
  margin-left: 1px;
  margin-right: 30px;
}

nav li {
  transition: transform 0.3s ease-out;
  margin-right: 2em;
}

nav li:hover {
  background: rgb(28, 172, 189);
  background: linear-gradient(0deg, rgba(28, 172, 189, 0.4038749288778011) 14%, rgba(22, 183, 255, 0) 100%);
  transform: scale(1.1);
  border-bottom: 2px solid #11256977;
  margin-bottom: -1px;
}

nav a {
  color: white;
  text-decoration: none;
}

.container-nav{
  justify-content: start;
}





#menu{
  display: none;
}

#btn-registro {
  padding: 1px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffb300;
    color: #112569;
    font-weight: bold;
}


.flecha-izq {
  position: absolute;
  bottom: 265px;
  z-index: 900000;
  left: 40px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}

.flecha-der {
  position: absolute;
  bottom: 265px;
  right: 40px;
  z-index: 900000;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flecha-izq button {
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  width: 100%;
  height: 100%;
  font-size: 40px;
  transition: all 0.1s ease-out;
}

.flecha-der button {
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  width: 100%;
  height: 100%;
  font-size: 40px;
  transition: all 0.1s ease-out;
}

.flecha-izq button:hover {
  background-color: #112569;
}

.flecha-der button:hover {
  background-color: #112569;
}





#about {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
}

.img-about-contenedor {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.principal {
  background-image: url("principal.jpg");
  background-attachment: fixed;
  object-fit: fill;
  height: 100%;
  width: 100%;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  transition: background-image 0.1s linear;
  background-position: right;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}


.principal b {
  z-index: 400;
}

.principal p {
  z-index: 400;
}

.secundario {

  opacity: 0.4;
  background: repeating-linear-gradient(45deg, #0d0d0d, #0d0d0d 20px, #000000 20px, #000000 100px);
  position: absolute;
  bottom: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  z-index: 300;
}


.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-contenedor {
  position: relative;
  width: 350px;
  height: 400px;
  overflow: hidden;
  margin: 30px;

}

.text-img1 {
  width: 89%;
  text-align: justify;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  transform: translateY(100%);
  transition: all 0.5s ease-out;
}

.info-link {
  text-align: end;
}

.info-link a {
  text-decoration: none;
  color: #f2f2f2;
}

.img-contenedor:hover .text-img1 {
  transform: translateY(0%);

}

.img-contenedor img {
  z-index: 0;
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: all 1s ease-out;

}

.img-contenedor img:hover {
  z-index: -1;
  transform: scale(1.1);
}



main{
  width: 100%;
  margin: 0;
  padding: 0;
}

main > *{
  width: 100%;
  margin: 0;
  padding: 0;
}


.contenedor-main {
  width: 100%;
  margin: 0;
  padding: 0;
}

.contenedor-main > * {
  width: 100%;
}

#resources {
  background-color: white;
  color: #333;
  padding: 2em;
  margin: 2em;
}

#contact {
  background-color: white;
  color: #333;
  padding: 2em;
  margin: 2em;
}

footer {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: flex-end;
}


.copyright {
  display: flex;
  background: linear-gradient(135deg, #12121255 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #121212 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #12121255 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #121212 25%, #1c1c1c 25%) 0px 0/ 80px 80px;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  height: 20%;

}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #112569;
  opacity: 1;
  background-image: linear-gradient(30deg, #112569 12%, transparent 12.5%, transparent 87%, #112569 87.5%, #112569), linear-gradient(150deg, #112569 12%, transparent 12.5%, transparent 87%, #112569 87.5%, #112569), linear-gradient(30deg, #112569 12%, transparent 12.5%, transparent 87%, #112569 87.5%, #112569), linear-gradient(150deg, #112569 12%, transparent 12.5%, transparent 87%, #112569 87.5%, #112569), linear-gradient(60deg, #11256977 25%, transparent 25.5%, transparent 75%, #11256977 75%, #11256977), linear-gradient(60deg, #11256977 25%, transparent 25.5%, transparent 75%, #11256977 75%, #11256977);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  height: 80%;
  
}

.footer-container div {
  color: #f2f2f2;
  width: 33.33%;
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.texto-info-container {
  flex-direction: column;
  color: #f2f2f2;

}

.texto-info {
  margin: 8px;
}

.iconos-container {
  flex-direction: column;
}

.iconos {
  display: flex;
}

.iconos a {
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
}



@media screen and (max-width: 1000px) {
  .img-contenedor {
    position: relative;
    width: 800px;
    height: 800px;
    overflow: hidden;
    justify-content: center;
  }

  .img-contenedor img{
    width: 100%;
    height: 100%;
    
  }
  
  .text-img1 {
    width: 95%;
    text-align: justify;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
  }
}

@media screen and (max-width: 1000px) {
  .container-nav{
    display: none;
  }

  #menu{
    display: block;
    color: white;
    font-size: 120px;
  }

  #logo{
    width: 450px;
    height: 250px;
    align-self: center;
  }

  .flecha-der, .flecha-izq{
    display: none;
  }
  
  .container-header{
    height: 280px;
  }
  
  #about{
    height: 1800px;
  }
  
}

@media screen and (max-width: 1200px) {
  
  footer{
    height: 130px;
  }
  
  .footer-container div{
    font-size: 9px;
  }


}
